.footer-wrapper {
  width: 100%;
  height: 45vh;
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  background-color: #263271;
  color: white;
  margin-bottom: -5px;
}

.footer-wrapper div {
  padding-right: 6rem;
}
.footer-wrapper h3 {
  font-size: 1.5em;
}

.footer-about {
  width: 20%;
}
.footer-contact ul li {
  padding: 0.2rem;
}

.footer-contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-icons li {
  display: inline-block;
  padding-right: 3em;
}
.footer-icons li img {
  width: 3em;
}

@media (max-width: 600px) {
  .footer-wrapper {
    padding-top: 0;
    height: 80vh;
    align-items: start;
    padding-left: 15%;
  }
  .footer-wrapper div {
    padding-right: 0rem;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-about {
    width: 70%;
  }
  .footer-icons li img {
    width: 1.8em;
  }
}
