.card-wrapper {
  width: 20rem;
}
.picture {
  width: 20rem;
}

.card-wrapper h3 {
  font-size: 1.3em;
  font-family: "Open Sans";
}

.card-wrapper p {
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
  line-height: 1.5em;
}
