.card-wrapper {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.picture {
  width: 20rem;
  height: auto;
  border-radius: 2px;
  display: block;
}
/*
.card-wrapper:hover > img {
  opacity: 0.6;
  transition-duration: 0.5s;
  cursor: pointer;
}
*/
.img-wrapper {
  position: relative;
}
.img-overlay {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  transition: 0.4s ease;
  background-color: rgba(139, 31, 98, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-overlay:hover {
  background-color: rgba(139, 31, 98, 0.7);
}
.img-overlay > span {
  opacity: 0;
  transition: 0.45s ease-in-out;
  font-family: "Open Sans";
  font-size: 1.3rem;
}
.img-overlay:hover > span {
  opacity: 1;
}

.card-wrapper > h3 {
  font-size: 1.3em;
  font-family: "Open Sans";
}

.card-wrapper > p {
  text-align: left;
  font-family: "Work sans", sans-serif;
  word-spacing: 2px;
  line-height: 1.5em;
  font-size: 1rem;
}

.service-link {
  text-decoration: none;
  color: #2b338b;
}
