.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  background-color: #fff;
  color: black;
  height: 7rem;
}

.hover {
  padding-bottom: 0.5rem;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.4s background-size;
  background-position: left bottom;
}

.hover:hover {
  background-size: 100% 0.1em;
}

.logo {
  width: 250px;
}

.toolbar__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  margin-right: 1%;
}

.toolbar__logo {
  margin-left: 0.5rem;
}

.toolbar__logo a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/*****Skit fan**/

.toolbar__navigation-items li {
  padding-right: 0.5rem;
}

/*************/
.toolbar__navigation-items a {
  font-family: "Work sans", sans-serif;
  color: black;
  text-decoration: none;
  text-transform: none;
  margin-right: 2em;
}

.toolbar__navigtaion-items a:hover,
.toolbar__navigation-items a:hover {
  color: #8d1f62;
}

.spacer {
  flex: 1;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}
@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
  .toolbar__logo {
    margin-left: 0;
  }
}
