.contact-info-wrapper {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-family: "Work sans";
  color: #263271;
}

.info-row {
  padding-top: 1.5rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
}

.container-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-icon > i {
  margin-right: 0.5rem;
}

@media (max-width: 600px) {
  .info-row {
    font-size: 1.2rem;
  }
  .info-title {
    text-align: center;
  }
}
