*{padding: 0;
    margin: 0;
    
    }
    
    
    .footerDistributed{
        background-color:  #263271;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 80px;
    }
    .footerDistributed .footerLeft,
    .footerDistributed .footerCenter,
    .footerDistributed .footerRight{
        display:inline-block;
        vertical-align: top;
    }
    
    .footerDistributed .footerLeft{
        width: 30%;
    }
    
    .footerDistributed .footerLeft img{
        width:30%;
    }
    
    .footerDistributed h3{
        color:white;
        font:normal 36px, cursive;
        margin:0;
    }
    .footer-distributed h3 span{
        color:  #e0ac1c;
    }
    
    .footerDistributed .footerLinks{
        color:white;
        margin:20px 0 12px;
    }
    
    .footerDistributed .footerLinks a{
        display:inline-block;
        line-height:1.8;
        text-decoration: none;
        color:inherit;
    }
    .footerDistributed .footerCompanyName{
        color:red;
        font-size: 14px;
        font-weight: normal;
        margin:0;
    }
    
    .footerDistributed .footerCenter{
        width:30%;
    }
    
    .footerDistributed .footerCenter i{
        background-color: #33383b;
        color:#ffffff;
        font-size: 25px;
        width:38px;
        height:38px;
        border-radius: 50%;
        text-align:center;
        margin:10px 15px;
        vertical-align: middle;
    
    }
    
    .footerDistributed .footerCenter i.fa-envelope{
        font-size: 17px;
        line-height: 38px;   
    }
    
    .footerDistributed .footerCenter p{
        display: inline-block;
        color:white;
        vertical-align: middle;
        margin:0;
    }
    .footerDistributed .footerCenter p span{
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footerDistributed .footerCenter p a{
        color:yellow;
        text-decoration: none;
    }
    
    .footerDistributed .footerRight{
        width: 30%;
    }
    
    .footerDistributed .footerCompanyAbout{
        line-height: 20px;
        color: violet;
        font-size: 13px;
        font-weight: normal;
        margin:0;
    }
    
    .footerDistributed .footerCompanyAbout span{
        display: block;
        color:whitesmoke;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .footerDistributed .footerIcons{
        margin-top:25px;
    }
    
    .footerDistributed .footericons a{
        display: inline-block;
        width:35px;
        height:35px;
        cursor:pointer;
        background-color: green;
        border-radius: 2px;
    
        font-size: 20px;
        color:white;
        text-align:center;
        line-height:35px;
    
        margin-right:3px;
        margin-bottom:5px;
    }
    