.primary-button {
  font-family: "Open Sans", sans-serif;
  border: 1px solid transparent;
  width: 13rem;
  height: 4rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0rem;
  border-radius: 24px;
  background-color: #8d1f62;
  color: white;
  text-transform: uppercase;
}

.primary-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/* If the screen size is 601px wide or more */
@media (min-width: 601px) {
  .primary-button {
    font-size: 0.7em;
  }
}

/* If the screen size is 600px wide or less */
@media (max-width: 600px) {
  .primary-button {
    font-size: 0.8em;
    width: 7rem;
    height: 3rem;
  }
}
