.contactForm {
  width: 22rem;
}

.form-control {
  margin-bottom: 1.5rem;
}

/* Saker från codevelution*/
label {
  font-weight: bold;
  font-family: "Work sans";
  color: #263271;
}
.label {
  padding-bottom: 0.5rem;
}

input[type="name"],
input[type="email"],
input[type="phone"],
input[type="text"],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  height: 6rem;
}

input[type="text"] {
  padding: 2rem 1rem;
}
.error {
  color: red;
  padding-top: 0.5rem;
}
button {
  width: 100%;
  border: 0px;
  background-color: #8d1f62;
  color: white;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
}
/*****************************/
@media (max-width: 600px) {
  .contactForm {
    width: 60vw;
  }
}
